<div class="box-body">
  <div class="box-header">Улучшение стратегического плана ИТ-компании</div>
  <div #pages [ngSwitch]="stepNum">
    <div class="box-footer" *ngSwitchDefault>
      <button (click)="openForm()">Ввести данные</button>
      <button><label for="file">Загрузить файл</label></button>
      <input type="file" id="file" name="file" (change)="fileChosen($event)" accept=".xlsx">
    </div>
    <app-welcome-page *ngSwitchCase="1" [plans]="plans" [experts]="experts" (calculate)="calculate($event)"></app-welcome-page>
    <app-finish-page *ngSwitchCase="2" [plans]="plans" [experts]="experts" (changePage)="changePage($event)"></app-finish-page>
    <app-about *ngSwitchCase="3" (changePage)="changePage($event)"></app-about>
  </div>
</div>
